body {
	/*font-family: Arial, sans-serif;*/
	font-family: sans-serif;
	margin: 0;
	border: 0;
	padding: 0;
}

.header {
	background-color: #0D3C55;
	height: 52px;
	margin-top: 0;
}

.header-contact {
	max-width: 1250px;
	margin: auto;
	overflow: hidden;
}

.header p {
	display: block;
	color: white;
	font-weight: 600;
	font-size: 14px;
	float: left;
	line-height: 20px;
}

.header ul {
	display: block;
	float: right;
}

.header ul li {
	display: inline;
	margin: 2px;
}

.menu {
	background-color: white;
	width: 100%;
	height: 80px;
}

.inner-menu {
	max-width: 1250px;
	margin: auto;
	overflow:hidden;
	padding-top: 22px;
}

#img {
	float:left;
}

.inner-menu ul {
	float: right;
	display: block;
	
}

.inner-menu ul li {
	display: inline;
	text-transform: uppercase;
	font-size: 17px;
	list-style: none;
	padding-left: 40px;
}

.inner-menu a {
	text-decoration: none;
	color: grey;
}
.menu-nav li a:hover {
	color: #FEA252;
}

.parallax1 {
	background: url(../images/background_image.jpg) repeat fixed 100%;
	min-height: 650px;
}

.parallax-inner1 {
	max-width: 1250px;
	margin: auto;
}

#middle-image {
	margin: 0 auto;
	display: block;
	padding-top: 50px;
	
}

#middle-p1 {
	text-align: center;
	color: white;
	font-size: 62px;
	margin-bottom: 35px;
}

#middle-p2 {
	color: white;
	text-align: center;
	font-weight: 600;
}

.get-started {
	text-align:center;
	color: white;
	background-color:#FEA252;
	opacity: 0.8;
	border: 4px solid #FEA252;
	border-radius: 54px;
	width: 200px;
	height: 50px;
	margin: 100px auto;
}

.get-started a {
	text-decoration: none;
	color: white;
	display: block;
	padding-top: 11px;
	text-transform: uppercase;
	font-size: 23px;
}

.get-started:hover {
	opacity: 1;
	cursor: pointer;
}

.Our {
	overflow:hidden;
}

.companies {
	padding-top: 25px;
	padding-bottom:25px;
	border-bottom: 1px solid grey;
}

.ul-width {
	max-width: 1250px;
	margin: auto;
}

.companies ul {
	display: block;
	margin: auto;
	max-width: 70%;
}

.companies li {
	display: inline;
	padding-left: 18px;
	opacity: 0.6;
}

.companies li:hover {
	opacity: 1;
}

.services-width {
	max-width: 1250px;
	margin: auto;
}

.Our h2 {
	text-align:center;
	color: #39749B;
	font-size:35px;
	margin-top: 100px;
	margin-bottom: 20px;
}

.line, .team-line, .customers-line, .news-line {
	width: 95px;
	height: 1px;
	margin: 10px auto;
	border-bottom: 3px solid #FEA252;
}

.Our  p {
	text-align: center;
	color: grey;
	font-size: 15px;
	margin-top: 24px;
}

.Our h3 {
	text-align: center;
	margin-top: 50px;
	color: #62A0C9;
	font-size: 25px;
}

.ipsum {
	padding-bottom:100px;
}

.lorem {
	margin: auto;
	margin-top: 100px ;
	overflow:hidden;
}

.lorem-ipsum {
	float: left;
	width: 325px;
	padding-left: 70px;
}

.lorem-ipsum img {
	display: block;
	margin: 0 auto;
}

.lorem-ipsum p {
	line-height: 2;
	font-size: 17px;
}

.story {
	margin: 0 5%;
	overflow:hidden;
}

.our-story {
	width: 500px;
	float: left;
}

.story img {
	float:right;
}

.our-story h2 {
	margin-top: 10px;
	text-align:left; 
}

.our-story p {
	text-align:left;
	line-height: 1.7;
	font-size: 17px;
}

.our-story .line {
	margin-left:0;
}

.our-team {
	background: url(../images/background_image.jpg) no-repeat;
	min-height: 550px;
	opacity: 0.8;
	max-width: 100%;
}

.our-team h2 {
	padding-top: 70px;
}

.images {
	padding: 40px;
	border-radius: 150px;
}

.customers {
	max-width: 1250px;
	margin: 0 auto;
	overflow: hidden;
}

.customer {
	width: 400px;
	float: left;
}

.customer h5 {
	color: orange;
	text-align: center;
	margin-bottom: 4px;
}

.customer h6 {
	margin-top: 4px;
	text-align: center;
}

.customer img {
	border-radius: 80px;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
}

.customer p {
	width: 340px;
	padding-left: 30px;
	line-height: 2;
	font-size: 17px;
	text-align: center;
	margin-bottom: 70px;
}

.parallax {
	background: url(../images/background_image.jpg) repeat fixed 100%;
	opacity: 0.8;
	min-height: 444px;
}

.parallax-inner {
	max-width: 1250px;
	margin: auto;
}

.parallax-inner h2 {
	margin: auto;
	max-width: 800px;
	color: white;
	text-align: center;
	font-size: 40px;
	padding-top: 99px;
}

.address {
	width: 900px;
	margin: 100px auto;
}

.cont img {
	margin: 0 auto;
	display: block;
}

.cont h6 {
	font-size: 16px;
	text-height: bold;
	margin: 20px auto;
	text-align: center;
	display: block;
}

.address {
	overflow: hidden;
}
.cont {
	float: left;
	width: 300px;
}
.cont a {
	text-decoration:none;
	color: grey;
}
.cont a:hover {
	color: #FEA252;
	text-decoration: none;
}

.footer {
	background-color: #0D3C55;
	height: 222px;
}

.footer p {
	text-align: center;
	padding-top: 40px;
	font-size: 17px;
	color: white;
}

.footer ul {
	display: block;
	margin-left: 45%;
}

.footer li {
	display: inline;
	margin: 4px;
}

.footer-line {
	margin: auto;
	width: 1100px;
	border-bottom: 1px solid blue;
}

.cyclop {
	border-radius: 20px;
	margin-left: 43%;
	margin-top: 10px;
	float: left;
	margin-right: 10px;
}

.footer h6 {
	color: white;
}